<h3>All student-cohorts</h3>

<%= link_to 'Fill in cohort', new_students_cohort_path, class: 'btn btn-warning nav-btn mb-3' %>

<% @students_cohorts.students each do |student| %>

    <div>
        Name: <%= student.name %> 
    </div>

    <%= link_to 'Info', students_cohort_path(student_cohort) %>
    <%= link_to 'Remove', students_cohort_path(student_cohort), 'data-method': 'DELETE', 'data': { confirm: 'Are you sure?' } %>


<% end %>