/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require bootstrap/scss/bootstrap
 *= require toastr/toastr
 *= require_self
 */

@import 'partials/variables';
@import 'partials/mixins';
//@import url('https://fonts.googleapis.com/css?family=Raleway');
//@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway');

body {
    background-color: $primary-color;
    font-feature-settings: $primary-font
}


nav {
    width: 100%;
    padding: 0 40px;
}

.navbar {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}

.all-home {
    background-image: url(image-path('home-image.png'));
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 560px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8)
}

.first-col {
    width: 50%;
    float: left
}

.second-col {
    width: 50%;
    float: right;
    text-align: center;
    padding-top: 140px;
    background-color: black; //    opacity: 0.7;
    background: rgba(0, 0, 0, 0.7);
    color: #fdb517
}

.yellow-button {
    border-radius: 15px;
    width: 90px;
    height: 35px;
    background-color: #fdb517;
    color: white;
    border-width: 0
}

.home-text {
    padding-top: 12px;
    padding-bottom: 10px; //    font-family: 'Raleway', sans-serif;
    //    font-family: 'Montserrat', sans-serif;
    font-weight: bold
}

.login {
    text-align: center
}

.centered {
    position: absolute;
    top: 20%;
    left: 43%;
}

.login-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solig grey;
    @include top-bordered(10px);
}

.field {
    width: 60%;
    padding-left: 60px
}

.card {
    border-radius: 10px;
    padding-bottom: 20px
}


.login-button {
    border-radius: 15px;
    width: 90px;
    height: 35px;
    background-color: #fdb517;
    color: white;
    border-width: 0
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;

}

label {
    float: left;
}

.icon {
    width: 200px;
    height: auto;

}

//.auto-margin {
//    margin: 0 auto
//}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.push-left-200{
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.logout{
    background-color: ghostwhite;
    opacity: 0.3
}

a.logout:hover {
    color: black
}

.main {
    background-color: $primary-color;
    height: 100px
}

.hat {
    background-color: lightgray;
    height: auto;
    padding: 10px;
    margin-top: 150px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8)

}



//.main {
//    background-color: lightgray
//}